
<div class="col-md-10 col-md-offset-1">

    <table class="table table-bordered table-hover table-striped" >

      <tr>
        <th>ID</th>
        <th>Tipe</th>
        <th>Price</th>
        <th>Status</th>
        <th></th>
      </tr>

      <tr *ngFor="let rl of roomlist">
          <td> {{ rl.id }} </td>
          <td> {{ rl.tipe }} </td>
          <td> {{ rl.price }} </td>
          <td> {{ rl.status }} </td>    
          <td>
            <button class="btn btn-primary" (click)="book()">Book</button>
          </td>
      </tr>

    </table>

</div>
